.left-container {
  margin-top: 50px;
  width: 320px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.text,
.Location,
.Btn {
  display: flex;
  align-items: center;
  gap: 22px;
  height: 55px;
  width: 255px;
  border-radius: 0px 100px 100px 0px;
  margin-left: -15px;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.text {
  color: black;
  background-color: transparent;
}

.text img,
.Location img,
.Btn img {
  margin-left: 40px;
  height: 22px;
  width: 18px;
}

.text p,
.Location p,
.Btn p {
  margin: 0;
}

.Location {
  color: black;
  margin-top: 20px;
}

.Btn {
  margin-top: 350px;
  color: black;
}

.Btn img {
  height: 20px;
  width: 20px;
}

.Location.active {
  background-color: black;
  color: white;
}

.Location.active img {
  content: url("../../assets/location-white.png");
}

.text.active {
  background-color: black;
  color: white;
}

.text.active img {
  content: url("../../assets/copy-icon.png"); 
}

.text:not(.active) img {
  content: url("../../assets/copy-black.png");
}

.Location:not(.active) img {
  content: url("../../assets/location- icon.png"); 
}
