.main-container {
  display: flex;
}

#plusBtn {
  display: flex;
  background: none;
  text-decoration: none;
  border: none;
  font-weight: 700;
  font-family: Inter, sans-serif;
  font-size: 20px;
  line-height: 18px;
  color: rgba(87, 87, 103, 1);
  margin-top: 10px;
  cursor: pointer;
}

.sub-main {
  height: 600px;
  width: 400px;
}

.right-container {
  margin-top: 50px;
}

button {
  background: none;
  font-size: 20px;
  color: rgba(87, 87, 103, 1);
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.right-container h4 {
  width: 200px;
  font-weight: 700;
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: rgba(87, 87, 103, 1);
}

.row {
  width: 342px;
  height: 55px;
  margin: 10px 0 0 1px;
  display: flex;
  flex-wrap: wrap;
  align-items: first baseline;
}

.row p {
  margin-left: 10px;
  width: 303px;
  height: 20px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  color: rgba(87, 87, 103, 1);
}

.row span {
  width: 202px;
  height: 17px;
  margin-left: 30px;
  margin-top: -15px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  color: rgba(185, 185, 190, 1);
}

.row p.completed {
  color: rgba(185, 185, 190, 1);
}

.row.completed-row {
  height: 35px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.checkBtn {
  display: none;
}

.checkBtn + p::before {
  content: "\2713"; 
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  border: 2px solid #ccc; 
  border-radius: 5px; 
  text-align: center;
  line-height: 18px;
  font-size: 14px;
  color: transparent; 
  transition: all 0.2s ease;
  cursor: pointer;
}

.checkBtn:checked + p::before {
  background-color: white; 
  border: 2px solid #ccc;
  color: rgba(87, 87, 103, 1)
}

.row p {
  font-size: 15px;
  font-weight: 600;
  color: rgba(87, 87, 103, 1);
  margin: 0;
  display: flex;
  align-items: center;
  cursor: pointer; 
  transition: color 0.2s ease;
}

.checkBtn:checked + p {
  color: rgba(185, 185, 190, 1); 
}

.completed-row p {
  color: rgba(185, 185, 190, 1);
}
